@page
@model Tour_De_France.Pages.Deltager.KontoModel
@{
}
<header style="text-align: center;">
    <h1 style="text-size-adjust: 150%;"><strong>Konto</strong></h1>
</header>
<div class="row zealand">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <p>Navn</p>
                @Model.Deltager.Name
                @*<span asp-validation-for="@Model.Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <p>Tlf nr</p>
                @Model.Deltager.Mobil
            </div>
            <div class="form-group">
                <p>E-mail</p>
                @Model.Deltager.Email
            </div>
            <div class="form-group">
                <p>VIP</p>
                @Model.Deltager.VIP
            </div>
        </form>
    </div>
</div>
@*<div>
<p>
    <a class="btn btn-danger" data-toggle="tooltip" title="Delete Password" asp-page="/Deltager/DeletePassword" asp-route-id="@Model.Deltager.DeltagerId"><i class="fa fa-trash"></i> Ændre Kodeord </a>
</p>
</div>*@
