@page
@model Tour_De_France.Pages.Deltager.KontoModel
@{
}
<header style="text-align: center;">
    <h1 style="text-size-adjust: 150%;"><strong>Konto</strong></h1>
</header>

<body class="zealand">
</body>

<br />
<div class="table">
    <table class="table table-bordered table-striped table-dark" width="60%">
        <col style="width: 7%">
        <col style="width: 7%">
        <col style="width: 74%">
        <col style="width: 10%">
        <col style="width: 9%">
        <thead>
            <tr class="btn-secondary active">
                <th>
                    <div class="d-flex justify-content-between p-0">
                        <div><h5> Id </h5></div>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between p-0">
                        <div><h5>Navn </h5></div>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between p-0">
                        <div>
                            <h5>Mobil </h5>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between p-0">
                        <div>
                            <h5>Email </h5>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between p-0">
                        <div>
                            <h5>VIP </h5>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        <tr class="btn-secondary">
            <td>
                @Model.Deltager.DeltagerId
            </td>
            <td>
                @Model.Deltager.Name
            </td>
            <td>
                @Model.Deltager.Mobil
            </td>
            <td>
                @Model.Deltager.Email
            </td>
            @*@{
                if (Model.DeltagerId)
                {
                    
                }
            }*@
            <td>
                @Model.Deltager.VIP
            </td>
            </tr>
        </tbody>
    </table>
</div>
