@page
@model Tour_De_France.Pages.Admin.CreateDeltagerModel
@{
}
<h1 style="position: relative; right: 17px;">Lav en ny bruger</h1>

<div  class="row zealand">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <p>Navn</p>
                <input asp-for="@Model.Name" class="form-control" />
                @*<span asp-validation-for="@Model.Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <p>Tlf nr</p>
                <input asp-for="@Model.Mobil" class="form-control" />
                <span asp-validation-for="@Model.Mobil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>E-mail</p>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Kodeord</p>
                <input asp-for="@Model.Password" class="form-control" />
                @*<span asp-validation-for="@Model.Password" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Lav Bruger" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="/Event/GetEvent">Tilbage til forsiden</a>
</div>