@page
@model Tour_De_France.Pages.Event.EventKvitteringModel
@{
}
<h1>Mange tak for din tilmeldese! Her er din kvittering</h1>
<body class="zealand">
</body>
<div class="test">
    <table class="table table-bordered table-dark table-hover table-striped" width="60%">
        <thead>
            <tr class="btn-secondary active">
                <th>Event ID</th>
                <th>Event Titel</th>
                <th>DeltagerId</th>
                <th>Antal</th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.EventOrders != null)
            {
                foreach (var tilmeld in Model.EventOrders)
                {
                    <tr class="btn-secondary">
                        <td>
                            @tilmeld.EventOrderId
                        </td>
                        <td>
                            @tilmeld.Event.Titel
                        </td>
                        <td>
                            @tilmeld.DeltagerId
                        </td>
                        <td>
                            @tilmeld.Count
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>