@page
@model Tour_De_France.Pages.Event.GetAllEventsModel
@{
}

<h1> Event</h1>
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>
            Time
        </th>
        <th>
            Address
        </th>
        <th>
            People
        </th>
        <th>
            Mobil
        </th>
        <th>
            Email
        </th>
        <th>
            EID
        </th>
    </tr>
    </thead>
    <tbody>
    @if (@Model.Evens != null)    {
        foreach (var Even in Model.Evens)
        {
            <tr>
                <td>
                    @Even.Time
                </td>
                <td>
                    @Even.Address
                </td>
                <td>
                    @Even.People
                </td>
                <td>
                    @Even.Mobil
                </td>
                <td>
                    @Even.Email
                </td>
                <td>
                    @Even.Eid
                </td>
            </tr>
        }
    }
    

    </tbody>

</table>